<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title th:text="'Editing: ' + ${product.name}"></title>
</head>
<body>
<div class="mt-5">
    <div class="d-flex justify-content-end me-5">
        <form method="post" th:action="@{/logout}">
            <span th:text="'Logged in as: ' + ${#authentication.getName()}" class="me-2"></span>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
<div class="container">
    <h1 th:text="'Editing: ' + ${product.name}"></h1><br>
    <form id="editForm" th:action="@{/admin/products/edit/__${product.id}__}" method="post">
        <div class="mb-3">
            <label for="productName" class="form-label">Title:</label>
            <input type="text" name="name" class="form-control" id="productName" th:value="${product.name}">
        </div>
        <div class="mb-3">
            <label for="productCategory" class="form-label">Category:</label>
            <input type="text" name="category" class="form-control" id="productCategory" th:value="${product.category}">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description:</label>
            <input type="text" name="description" class="form-control" id="productDescription" th:value="${product.description}">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Price:</label>
            <input type="number" name="price" class="form-control" id="productPrice" th:value="${product.price}">
        </div>
    </form>
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary me-2" form="editForm">Save</button>
        <a th:href="@{/admin/products}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>