<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head" th:with="currentPage='Admin - Add new product'">
</head>
<body>
<nav th:replace="fragments/admin-nav-bar::nav-bar">
</nav>
<div class="mt-5">
    <div class="d-flex justify-content-end me-5">
        <form method="post" th:action="@{/logout}">
            <span th:text="'Logged in as: ' + ${#authentication.getName()}" class="me-2"></span>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
<div class="container">
    <h1 th:text="#{title.product.form}">Форма добавления товара</h1><br>
    <form id="addForm" method="post" th:action="@{/admin/products/add}" th:object="${productDto}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="productName" class="form-label">Title:</label>
            <input type="text" class="form-control" id="productName" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="productCategory" class="form-label">Category:</label>
            <input class="form-control" list="categoriesOptions" id="productCategory" placeholder="Выберите категорию"
                   th:field="*{category}" required>
            <datalist id="categoriesOptions">
                <option th:each="category : ${categories}" value="Категория" th:value="${category}">
            </datalist>
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description:</label>
            <input type="text" class="form-control" id="productDescription" th:field="*{description}">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Price:</label>
            <input type="number" class="form-control" id="productPrice" th:field="*{price}" required>
        </div>
        <div class="mb-3">
            <label for="productImage" class="form-label">Image:</label>
            <input type="file" class="form-control" id="productImage" name="image">
            <br>
        </div>
    </form>
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary me-2" form="addForm">Save</button>
        <a th:href="@{/admin/products}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>