<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head" th:with="currentPage='Admin - Add new product'">
</head>
<body>
<nav th:replace="fragments/admin-nav-bar::nav-bar">
</nav>
<div class="mt-5">
    <div class="d-flex justify-content-end me-5">
        <form method="post" th:action="@{/logout}">
            <span th:text="'Logged in as: ' + ${#authentication.getName()}" class="me-2"></span>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
<div class="container">
    <h1 th:text="#{title.product.form}">Форма добавления товара</h1><br>
    <form id="addForm" method="post" th:action="@{/admin/products/add}">
        <div class="mb-3">
            <label for="productName" class="form-label">Title:</label>
            <input type="text" name="name" class="form-control" id="productName">
        </div>
        <div class="mb-3">
            <label for="productCategory" class="form-label">Category:</label>
            <input type="text" name="category" class="form-control" id="productCategory">
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Description:</label>
            <input type="text" name="description" class="form-control" id="productDescription">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Price:</label>
            <input type="number" name="price" class="form-control" id="productPrice">
        </div>
    </form>
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary me-2" form="addForm">Save</button>
        <a th:href="@{/admin/products}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>