<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head" th:with="currntPage=${product.name}">
</head>
<body>
<div class="mt-5">
    <div class="d-flex justify-content-end me-5">
        <form method="post" th:action="@{/logout}">
            <span th:text="'Logged in as: ' + ${#authentication.getName()}" class="me-2"></span>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
<div class="container">
    <h1 th:text="#{title.product.info}">Информация о товаре</h1><br>
    <table class="table table-borderless">
        <tr>
            <td>ID</td>
            <td th:text="${product.id}"></td>
        </tr>
        <tr>
            <td>Title</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
    <a th:href="@{/admin/products}" class="btn btn-secondary">Back</a>
</div>
</body>
</html>