<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Add new product</title>
</head>
<body>
<div class="container">
    <h1>Adding new product</h1><br>
    <div th:if="${response}" th:text="${response.message}" class="alert alert-success"></div>
    <div th:if="${errorResponse}" th:text="${'Status code: ' + errorResponse.getStatus() + ' ' + errorResponse.getErrorMessage()}" class="alert alert-danger"></div>
    <form id="addForm" method="post" th:action="@{/products/add}">
        <div class="mb-3">
            <label for="productName" class="form-label">Title:</label>
            <input type="text" name="name" class="form-control" id="productName">
        </div>
        <div class="mb-3">
            <label for="productCategory" class="form-label">Category:</label>
            <input type="text" name="category" class="form-control" id="productCategory">
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Price:</label>
            <input type="number" name="price" class="form-control" id="productPrice">
        </div>
        <div class="mb-3">
            <label for="productQuantity" class="form-label">Quantity:</label>
            <input type="number" name="quantity" class="form-control" id="productQuantity">
        </div>
    </form>
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-primary me-2" form="addForm">Save</button>
        <a th:href="@{/products}" class="btn btn-secondary">Back</a>
    </div>
</div>
</body>
</html>