<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/common-head" th:with="currentPage='Checkout'">
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar"></nav>
<div class="container">
    <div class="row row-cols-4">
        <div class="col-8">
            <div class="checkout-form">
                <h2>Make Your Checkout Here</h2>
                <p>Please register in order to checkout more quickly</p>
                <div th:if="${cartIsEmpty}" th:text="${cartIsEmpty.getMessage()}" class="alert alert-danger"></div>
                <form id="checkoutForm" class="form" method="post" th:action="@{/order}">
                    <div class="row row-cols-4">
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">First Name<span>*</span>
                                    <input type="text" class="form-control" name="name" required="required"
                                           th:value="${user.name}">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name<span>*</span>
                                    <input type="text" class="form-control" name="surname" required="required"
                                           th:value="${user.surname}">
                                </label>
                            </div>
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email Address<span>*</span>
                                    <input type="email" class="form-control" name="email" required="required"
                                           th:value="${user.email}">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Phone Number<span>*</span>
                                    <input type="tel" class="form-control" name="phoneNumber" required="required"
                                           th:value="${user.phoneNumber}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Postal Code<span>*</span>
                                    <input type="text" class="form-control" name="postcode" required="required"
                                           th:value="${user.postcode}">
                                </label>
                            </div>
                        </div>
                        <div class="col col-lg-3 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">City<span>*</span>
                                    <input type="text" class="form-control" name="city" required="required"
                                           th:value="${user.city}">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Street<span>*</span>
                                    <input type="text" class="form-control" name="street" required="required"
                                           th:value="${user.street}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Building<span>*</span>
                                    <input type="text" class="form-control" name="building" required="required"
                                           th:value="${user.building}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Entrance
                                    <input type="text" class="form-control" name="entrance" th:value="${user.entrance}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Floor
                                    <input type="text" class="form-control" name="floor" th:value="${user.floor}">
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Apartment<span>*</span>
                                    <input type="text" class="form-control" name="apartment" required="required"
                                           th:value="${user.apartment}">
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2">
            <div>
                <div class="mb-3">
                    <h2>CART TOTALS</h2>
                    <div class="content">
                        <p th:text="'Total    $' + ${orderPrice}"></p>
                    </div>
                </div>
                <div class="mb-3">
                    <h2>Payments</h2>
                    <div class="content">
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault1"><input class="form-check-input"
                                                                                           type="radio"
                                                                                           name="flexRadioDefault"
                                                                                           id="flexRadioDefault1"
                                                                                           checked> Cash</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label" for="flexRadioDefault2"><input class="form-check-input"
                                                                                           type="radio"
                                                                                           name="flexRadioDefault"
                                                                                           id="flexRadioDefault2">
                                PayPal</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="content">
                        <button type="submit" class="btn btn-primary w-100" form="checkoutForm">
                            Proceed to checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
