<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head" th:with="currentPage='Order success'">
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar"></nav>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col-6">
            <h2>Thank you for your order!</h2>
            <h4 th:text="'Your order number is: '+${order.id}"></h4>
            <p>Order details was sent to your email.</p>
        </div>
    </div>
</div>
</body>
</html>
