<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head" th:with="currentPage='Management - Order №' + ${order.getId()}">
</head>
<body>
<nav th:replace="fragments/manager-nav-bar::nav-bar"></nav>
<div th:replace="fragments/manager-nav-bar::log-bar"></div>
<div class="container">
    <div class="row justify-content-center g-0">
        <div class="col">
            <h2 th:text="'Order №' + ${order.getId()} + ' details'">Order details</h2>
            <table class="table table-borderless">
                <tr>
                    <td>ID</td>
                    <td th:text="${order.getId()}"></td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td th:text="${order.getCreatedAt()}"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td th:text="${order.getTotalPrice()}"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td th:text="${order.getDeliveryAddress()}"></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td th:text="${order.getStatus().getDescription()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <h2>Products</h2>
    <table class="table table-hover" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
        </colgroup>

        <tbody>
        <tr th:each="item : ${order.getItems()}">
            <td>
                <a th:text="${item.getProduct().getName()}"
                   th:href="@{${'/products/info/' + item.getProduct().getId()}}"></a>
            </td>
            <td th:text="${item.getQuantity()}"></td>
            <td th:text="${item.getPrice()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form method="post" th:object="${order}" th:action="@{/management/order/__${order.getId()}__/changeStatus}">
        <select id="status" th:field="*{status.code}">
            <option th:unless="${order.getStatus().getCode() == 'notPaid'}" th:value="'notPaid'"
                    th:text="${statusMap.get('notPaid').getDescription()}"></option>
            <option th:unless="${order.getStatus().getCode() == 'created'}" th:value="'created'"
                    th:text="${statusMap.get('created').getDescription()}"></option>
            <option th:unless="${order.getStatus().getCode() == 'fulfilled'}" th:value="'fulfilled'"
                    th:text="${statusMap.get('fulfilled').getDescription()}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Change status</button>
    </form>
</div>
</body>
</html>