<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/common-head" th:with="currentPage='Products list'">
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-slide-to="0" class="active"></li>
        <li data-slide-to="1"></li>
        <li data-slide-to="2"></li>
        <li data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" th:src="@{/images/banner.png}" src="..." alt="Campaign 1">
        </div>
    </div>
    <a class="carousel-control-prev" data-target=="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Prev</span>
    </a>
    <a class="carousel-control-next" data-target=="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <h2 th:text="#{title.product.list}">Products list</h2>
    <div  sec:authorize="isAuthenticated()">
        <h4 th:text="'Вы вошли как ' +${#authentication.getName()}"></h4>
    </div>
    <div class="row">
        <div th:each="product : ${products}" class="col-12 col-sm-6 col-md-3 mb-1">
            <div class="card shadow h-100">
                <img class="card-body card-img-top" th:src="@{${product.getImageURL()}}" src="..." alt="Product info">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a class="link-dark" th:href="@{${'/products/info/' + product.id}}" th:text="${product.name}">Подробнее</a>
                    </h5>
                    <p th:text="${product.category}" class="card-text">Category</p>
                    <p th:text="${product.price}" class="card-text mt-auto">Price</p>
                </div>
                <button th:attr="data-product-id=${product.id}" class="cart-button w-100" onclick="onClickAddToCart(this, 1)">
                    Add to cart
                </button>
            </div>
        </div>
    </div>
    <nav aria-label="Products navigation" th:if="${products.getTotalPages() &gt; 1}">
        <ul class="pagination justify-content-center">
            <li th:if="${products.isFirst()}" class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
            <li th:unless="${products.isFirst()}" class="page-item">
                <a class="page-link" th:href="@{/products}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:if="${products.isFirst()}" class="page-item disabled">
                <span class="page-link">&lt;</span>
            </li>
            <li th:unless="${products.isFirst()}" class="page-item">
                <a th:if="${products.getNumber() - 1 == 0}" class="page-link" th:href="@{/products}">&lt;</a>
                <a th:unless="${products.getNumber() - 1 == 0}" class="page-link"
                   th:href="@{/products(page=${products.getNumber() - 1})}">&lt;</a>
            </li>

            <th:block th:each="i: ${#numbers.sequence(0, products.getTotalPages() - 1)}">
                <li th:if="${products.getNumber() == i}" class="page-item active" aria-current="page">
                    <span class="page-link" th:text="${i + 1}">0</span>
                </li>
                <li th:unless="${products.getNumber() == i}" class="page-item">
                    <a th:if="${i == 0}" class="page-link" th:text="${i + 1}" th:href="@{/products}">0</a>
                    <a th:unless="${i == 0}" class="page-link" th:text="${i + 1}"
                       th:href="@{/products(page=${i})}">0</a>
                </li>
            </th:block>

            <li th:if="${products.isLast()}" class="page-item disabled">
                <span class="page-link">&gt;</span>
            </li>
            <li th:unless="${products.isLast()}" class="page-item">
                <a class="page-link" th:href="@{/products(page=${products.getNumber() + 1})}">&gt;</a>
            </li>

            <li th:if="${products.isLast()}" class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
            <li th:unless="${products.isLast()}" class="page-item">
                <a class="page-link" th:href="@{/products(page=${products.getTotalPages() - 1})}" aria-label="Last">&raquo;</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
